<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb Clone</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" type="image/svg+xml"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23FF385C'><path d='M12 2.25L2 9.25V22h20V9.25L12 2.25zm0 3.25l7 4.9V19.5h-14v-9.1l7-4.9z'/></svg>">
</head>

<body class="flex flex-col min-h-screen">

    <%- include('../includes/navbar') %>

    <main class="grow container mx-auto px-4 mt-8 mb-12">
        <%- include('../includes/flash') %>
        <%- body %>
    </main>

    <%- include('../includes/footer') %>

    <script src="/js/script.js"></script>
</body>

</html>